	<!--
	<div class="row">
	    <div class="col s12 m12">
			<mz-card [hoverable]="true">
				<mz-card-title>
					Bienvenido al sistema Pet-IT
				</mz-card-title>
				<mz-card-content>
					Desde aquí podrás revisar las estadísticas de tu centro veterinaria
				</mz-card-content>
			</mz-card>
		</div>
	</div>
	-->
	<div class="row">
	    <div class="col s12 m12">
			<mz-card [hoverable]="true">
				<mz-card-title>
					Últimas mascotas atendidas
				</mz-card-title>
				<mz-card-content>
					<table class="striped">
				        <thead>
				          <tr>
				              <th>Nombre</th>
				              <th>Dueño</th>
				              <th>Fecha Atención</th>
				          </tr>
				        </thead>
				        <tbody>
				    	    <tr *ngFor="let item of citas">
						        <td>{{item.mascota.nombre }}</td>
						        <td>{{item.dueno.nombre}}</td>
						        <td>{{item.fecha}}</td>
						      </tr>
				        </tbody>
					</table>
				</mz-card-content>
			</mz-card>
		</div>
	</div>