<mz-sidenav
	[id]="'sidenav-demo'"
	[collapseButtonId]="'btn-sidenav-demo'"
	[fixed]="true">
	<mz-sidenav-header>
	    <a>
			<img src="assets/img/petitlogo.png" width="100px">
	    </a>
	    <br/>
	</mz-sidenav-header>
	<!--
	<mz-sidenav-subheader>Pet-IT</mz-sidenav-subheader>
	-->

	<mz-sidenav-collapsible #menu *ngFor="let seccion of secciones" 
		(click)="irSeccion(seccion);" 
		[onClose]="closeFunctionCallback" 
		[onOpen]="openFunctionCallback">
	    <mz-sidenav-collapsible-header>
	    	<i class="material-icons">{{seccion.icono}}</i>
	    	{{seccion.nombre}}
	    </mz-sidenav-collapsible-header>
	    <mz-sidenav-collapsible-content *ngIf="seccion.subsecciones">
			<mz-sidenav-link *ngFor="let sub of seccion.subsecciones">
				<a (click)="irSeccion(sub);">
					<i class="material-icons">{{sub.icono}}</i>
    	    		{{sub.nombre}}
				</a>
			</mz-sidenav-link>
		</mz-sidenav-collapsible-content>
	</mz-sidenav-collapsible>
</mz-sidenav>
<!-- Botón para abrir menú en móvil -->
<button class="sidenav-button hide-on-large-only btn btn-floating btn-large waves-effect waves-light" 
id="btn-sidenav" mz-button id="btn-sidenav-demo">
	<i class="mdi mdi-menu mdi-24px"></i>
</button>