	<div class="row">
	    <div class="col s12 m12">
			<mz-card [hoverable]="true">
				<mz-card-title>
					1. Buscar dueño
				</mz-card-title>
				<mz-card-content>
					Buscar dueño por: 
	                <form
	                [formGroup]="buscarForm" 
	                (ngSubmit)="onSubmit(buscarForm.value)">
						<mz-radio-button-container>
							<input mz-radio-button
  							[formControl]="fieldControl" 
							[(ngModel)]="filtroField"
						    [label]="'Rut'"
							value="rut"
						    id="rut"
						    name="radio-group"
						    type="radio">
							<input mz-radio-button
							[formControl]="fieldControl" 
							[(ngModel)]="filtroField"
						    [label]="'Nombre'"
							value="nombre" 
						    id="nombre"
						    name="radio-group"
						    type="radio">
						</mz-radio-button-container>
						<mz-input-container>
							<i mz-icon-mdi mz-input-prefix
						    	[icon]="'magnify'">
							</i>
							<input mz-input
  							[formControl]="stringControl" 
							[(ngModel)]="filtroString"
							placeholder="Ingrese {{filtroField}}"
							length="20"
							type="text">
		                    <button mz-button type="submit" 
		                    [disabled]="!buscarForm.valid"
		                    name="action">Buscar dueño</button>
						</mz-input-container>
					</form>
				</mz-card-content>
			</mz-card>
		</div>
	</div>
	<div class="row">
	    <div class="col s12 m12">
			<mz-card [hoverable]="true">
				<mz-card-title>
					Datos Dueño Mascota
				</mz-card-title>
				<mz-card-content>
					<div class="row">
					    <div class="col s4 m4">
							Rut: {{duenoEncontrado?.rutdueno| rut}} 
						</div>
					    <div class="col s8 m8">
							Nombre: {{duenoEncontrado?.nombres}} {{duenoEncontrado?.apellidopaterno}} {{duenoEncontrado?.apellidomaterno}}			
						</div>
					</div>
				</mz-card-content>
			</mz-card>
		</div>
	</div>

	<app-mascotas-listar
	#mascotasListarComponent
	(mascotaSeleccionadaEmitter)="onMascotaSeleccionada($event)"
	(mascotaEditarEmitter)="onMascotaEditarHoras($event)"
	></app-mascotas-listar>
	
	<div class="row">
	    <div class="col s8 m8"></div>
	    <div class="col s4 m4">
			<button mz-button (click)="irAgendar();">Agendar hora</button>
			<!--
			<a style="cursor: pointer;" (click)="irAgendar();">Agendar hora</a>
			-->
	    </div>
    </div>