<div class="row">
    <div class="col s12 m12">
		<mz-card [hoverable]="true">
			<mz-card-title>
            	<i mz-icon-mdi mz-input-prefix [icon]="'account-box'"></i>
				Datos del dueño de la mascota seleccionada:
			</mz-card-title>
			<mz-card-content>
				<p>
                	Rut: {{duenoModel.rutdueno | rut}} 
                </p>
                <p>
                	Nombre: {{duenoModel.nombres}} {{duenoModel.apellidopaterno}} {{duenoModel.apellidomaterno}} 
            	</p>
                <p>
                	Dirección: {{duenoModel.direccion}} 
            	</p>
			</mz-card-content>
		</mz-card>
	</div>
</div>
<div class="row">
    <div class="col s12 m12">
		<mz-card [hoverable]="true">
			<mz-card-title>
            	<i mz-icon-mdi mz-input-prefix [icon]="'paw'"></i>
				Modificar una mascota
			</mz-card-title>
			<mz-card-content>
                <form
                [formGroup]="modificarForm" 
                (ngSubmit)="onSubmit(modificarForm.value)">
					<mz-input-container class="input-field col s12">
						<i mz-icon-mdi mz-input-prefix [icon]="'paw'"></i>
                        <input mz-input id="rut" type="text"
					    label="Rut Mascota"
						[formControl]="rutMascotaControl" 
						[(ngModel)]="mascotaModel.rutmascota"
						mz-validation
				        [errorMessageResource]="formErrors.rutMascota"
						required>
					</mz-input-container>						
					<mz-select-container class="col s12 m12">
						<i mz-icon-mdi mz-input-prefix [icon]="'medical-bag'"></i>
						<select mz-select
						id="tipo"	
						[formControl]="tipoMascotaControl" 
						[label]="'Tipo'"
						[placeholder]="'Seleccionar tipo de Mascota'"
    					[(ngModel)]="mascotaModel.idtipomascota"
						mz-validation required
				        [errorMessageResource]="formErrors.tipo">
						<option class="left circle"	*ngFor="let item of tipos"
						[ngValue]="item.idtipomascota"
						[selected]="mascotaModel.idtipomascota==item.idtipomascota">
							{{item?.nombre}}
						</option>
						</select>
					</mz-select-container>
					<mz-select-container class="col s12 m12">
						<i mz-icon-mdi mz-input-prefix [icon]="'medical-bag'"></i>
						<select mz-select
						id="raza"
						[formControl]="razaMascotaControl" 
						[label]="'Raza'"
						[placeholder]="'Seleccionar Raza'"
    					[(ngModel)]="mascotaModel.idraza"
						mz-validation required
				        [errorMessageResource]="formErrors.raza">
						<option class="left circle"	*ngFor="let item of razas"
						[ngValue]="item.idraza"
						[selected]="mascotaModel.idraza==item.idraza">
							{{item?.nombre}}
						</option>
						</select>
					</mz-select-container>
					<mz-input-container class="input-field col s12">
						<i mz-icon-mdi mz-input-prefix [icon]="'paw'"></i>
                        <input mz-input id="nombre" type="text"
						[formControl]="nombreMascotaControl" 
                        label="Nombre Mascota"
						[(ngModel)]="mascotaModel.nombre"
						mz-validation
				        [errorMessageResource]="formErrors.nombre"
						required>
					</mz-input-container>			
					<mz-input-container class="input-field col s12">
						<i mz-icon-mdi mz-input-prefix [icon]="'paw'"></i>
                        <input mz-input id="peso" type="text"
                        label="Peso Mascota"
						[formControl]="pesoMascotaControl" 
						[(ngModel)]="mascotaModel.peso"
						mz-validation
				        [errorMessageResource]="formErrors.peso"
						required>
					</mz-input-container>						
					<mz-input-container class="input-field col s12">
						<i mz-icon-mdi mz-input-prefix [icon]="'paw'"></i>
					    <input mz-input id="edad" type="text"
					    label="Edad Mascota"
						[formControl]="edadMascotaControl" 
						[(ngModel)]="mascotaModel.edad"
						mz-validation
					    [errorMessageResource]="formErrors.edad"
						required>
					</mz-input-container>	
					<boton-volver></boton-volver>
                    <button mz-button type="submit" 
                    [disabled]="!modificarForm.valid || enviandoFlag"
                    name="action">Modificar Mascota</button>
				</form>
			</mz-card-content>
		</mz-card>
	</div>
</div>

<!-- Ventana modal -->
<mz-modal #modificarSheetModal [fixedFooter]="true" [options]="modalOptions">
	<mz-modal-header>
		<h4>¿Desea modificar esta mascota?</h4>
	</mz-modal-header>
	<mz-modal-content>
	</mz-modal-content>
	<mz-modal-footer>
		<button mz-button [flat]="true" class="green" (click)="modificar();">Modificar Mascota</button>
		<button mz-button [flat]="true" mz-modal-close>Cancelar</button>
	</mz-modal-footer>
</mz-modal>
<!-- Ventana modal error -->
<mz-modal #errorSheetModal [fixedFooter]="true" [options]="modalOptions">
	<mz-modal-header>
		<h4>Atención</h4>
	</mz-modal-header>
	<mz-modal-content>
		<div [innerHTML]="errores"></div>
	</mz-modal-content>
	<mz-modal-footer>
		<button mz-button [flat]="true" mz-modal-close>Ok</button>
	</mz-modal-footer>
</mz-modal>