	<div class="row">
	    <div class="col s12 m12">
			<mz-card [hoverable]="true">
				<mz-card-title>
					Datos de la Reserva 
				</mz-card-title>
				<mz-card-content>
					<div class="row">
					    <div class="col s12 m6">
							<i mz-icon-mdi mz-input-prefix
						    	[icon]="'calendar'">
						    	Fecha: {{citaModel.especialistaDisponibilidadModel?.obtenerFechaEnHumano()}} a las {{citaModel.especialistaDisponibilidadModel?.bloqueHorarioModel?.horainicio}}
							</i>
					    </div>
					    <div class="col s12 m6">
							<i mz-icon-mdi mz-input-prefix
						    	[icon]="'medical-bag'">
						    	Especialista: {{citaModel.especialistaModel?.nombres}} {{citaModel.especialistaModel?.apellidopaterno}} {{citaModel.especialistaModel?.apellidomaterno}}
							</i>
					    </div>
				    </div>
			    	<div class="row">
					    <div class="col s12 m6">
							<i mz-icon-mdi mz-input-prefix
						    	[icon]="'account'">
						    	Dueño: {{citaModel.duenoMascotaModel?.nombres}} {{citaModel.duenoMascotaModel?.apellidopaterno}} {{citaModel.duenoMascotaModel?.apellidomaterno}}
							</i>
					    </div>
					    <div class="col s12 m6">
							<i mz-icon-mdi mz-input-prefix
						    	[icon]="'paw'">
						    	Mascota: {{citaModel.mascotaModel?.nombre}}
							</i>
					    </div>
				    </div>
				</mz-card-content>
			</mz-card>
		</div>
	</div>
	<div class="row">
	    <div class="col s12 m12">
			<mz-card [hoverable]="true">
				<mz-card-title>
					Indicaciones 
				</mz-card-title>
				<mz-card-content>
					<p>Recuerde llegar 15 minutos antes de la consulta<p>
				</mz-card-content>
			</mz-card>
		</div>
	</div>