<div class="row">
    <div class="col s12 m12">
		<mz-card [hoverable]="true">
			<mz-card-title>
				Mascotas Registadas
			</mz-card-title>
			<mz-card-content>
				<table class="striped">
				    <thead>
				      <tr>
				          <th>Nombre</th>
				          <th>Acciones</th>
				      </tr>
				    </thead>
				    <tbody>
			    	    <tr *ngFor="let item of mascotas">
				        <td>{{item.nombre}}</td>
				        <td>
							<a class="btn-floating waves-effect waves-light green" 
							(click)="irModificar(item);">
								<i mz-icon-mdi mz-input-prefix [icon]="'pen'"></i>
							</a>
					    </td>
				      </tr>
				    </tbody>
				</table>
			</mz-card-content>
		</mz-card>
	</div>
</div>