<mz-sidenav
  [id]="'sidenav-demo'"
  [collapseButtonId]="'btn-sidenav-demo'"
  [fixed]="true"
  >
  <mz-sidenav-header>
    <a href="/#/">
      <img src="assets/img/petitlogo.png" width="100px">
    </a>
  </mz-sidenav-header>
  <mz-sidenav-subheader>Pet-IT</mz-sidenav-subheader>
  
  <mz-collapsible (click)="irRuta('/recepcionista/inicio');">
    <mz-collapsible-item>
      <mz-collapsible-item-header>        
        <i class="material-icons">home</i>
        Inicio
      </mz-collapsible-item-header>
    </mz-collapsible-item>
  </mz-collapsible>

  <mz-sidenav-divider></mz-sidenav-divider>      

  <mz-collapsible>
    <mz-collapsible-item>
      <mz-collapsible-item-header>        
        <i class="material-icons">access_time</i>
        Horas
      </mz-collapsible-item-header>
      <mz-collapsible-item-body>
        <mz-sidenav-link>
          <a [routerLink]="['/recepcionista/horas/buscar']">
            <i class="material-icons">add</i>
            Agendar Hora
          </a>
        </mz-sidenav-link>
        <mz-sidenav-link>
          <a [routerLink]="['/recepcionista/horas/consultar']">
            <i class="material-icons">list</i>
            Consultar Horas
          </a>
        </mz-sidenav-link>

      </mz-collapsible-item-body>
    </mz-collapsible-item>
  </mz-collapsible>

  <mz-sidenav-divider></mz-sidenav-divider>

  <mz-collapsible>
    <mz-collapsible-item>
      <mz-collapsible-item-header>        
        <i class="material-icons">notifications</i>
        Notificaciones
      </mz-collapsible-item-header>
      <mz-collapsible-item-body>
        <mz-sidenav-link>
          <a [routerLink]="['/recepcionista/notificaciones/enviar']">
            <i class="material-icons">send</i>
            Enviar Nueva
          </a>
        </mz-sidenav-link>
      </mz-collapsible-item-body>
    </mz-collapsible-item>
  </mz-collapsible>

  <mz-sidenav-divider></mz-sidenav-divider>

  <mz-collapsible (click)="cerrarSesion();">
    <mz-collapsible-item>
      <mz-collapsible-item-header>        
        <i class="material-icons">close</i>
        Cerrar sesión
      </mz-collapsible-item-header>
    </mz-collapsible-item>
  </mz-collapsible>

</mz-sidenav>

<!-- Botón para abrir menú en móvil -->
<button class="sidenav-button hide-on-large-only btn btn-floating btn-large waves-effect waves-light" 
id="btn-sidenav" mz-button id="btn-sidenav-demo">
  <i class="mdi mdi-menu mdi-24px"></i>
</button>


