<div class="row">
    <div class="col m12">
		<mz-card
			[hoverable]="true">
			<mz-card-title>
			Generar Informe
		</mz-card-title>
		<mz-card-content>
			<form 
	        [formGroup]="generarForm" 
	        (ngSubmit)="onSubmit(generarForm.value)">
				<div class="row">
					<div class="input-field col s12 m6">
						<input id="inicio" type="text" class="validate"
		                [formControl]="inicio" 
		                [(ngModel)]="informeModel.fechaInicio"
						mz-datepicker [options]="options"
		                required>
	                    <div class="alert alert-danger" 
	                    *ngIf="formErrors.inicio" 
	                    [innerHTML]="formErrors.inicio"></div>

						<label for="inicio">Fecha Inicio</label>
					</div>
					<div class="input-field col s12 m6">
						<input id="termino" type="text" class="validate"
		                [formControl]="termino" 
		                [(ngModel)]="informeModel.fechaTermino"
						mz-datepicker [options]="options"
		                required>
	                    <div class="alert alert-danger" 
	                    *ngIf="formErrors.termino" 
	                    [innerHTML]="formErrors.termino"></div>

						<label for="termino">Fecha Término</label>
					</div>
				</div>
				<button class="btn" type="submit" name="action"
	            [disabled]="!generarForm.valid || enviandoFlag"
				>Generar Informe
				<i class="material-icons right">show_chart</i>
				<!--
				<mz-spinner
					*ngIf="enviandoFlag"
					[color]="'blue'"
					[size]="'small'">
				</mz-spinner>
				-->
				</button>
			</form>
			</mz-card-content>
			<!--
			<mz-card-action>        
			<a  class="btn-flat" (click)="generarInforme();">Generar Informe</a>
			</mz-card-action>
			-->
		</mz-card>
	</div>
</div>

<div class="row">
    <div class="col m12">
		<mz-card
		[hoverable]="true">
			<mz-card-title>
			Informe Generado
			</mz-card-title>
			<mz-card-content>

				<div style="display: block" *ngIf="mostrar">
				    <canvas baseChart
				            [datasets]="barChartData"
				            [labels]="barChartLabels"
				            [options]="barChartOptions"
				            [legend]="barChartLegend"
				            [chartType]="barChartType"
				            (chartHover)="chartHovered($event)"
				            (chartClick)="chartClicked($event)"></canvas>
				  </div>

  			</mz-card-content>

		</mz-card>
	</div>
    <div class="col m12">
		<mz-card
		[hoverable]="true">
			<mz-card-title>
			Informe Generado			
			</mz-card-title>
			<mz-card-content>
				<div style="display: block" *ngIf="mostrar">
				<canvas baseChart
				      [data]="pieChartData"
				      [labels]="pieChartLabels"
				      [chartType]="pieChartType"
				      (chartHover)="chartHovered($event)"
				      (chartClick)="chartClicked($event)"></canvas>
				</div>
			</mz-card-content>
		</mz-card>
	</div>
</div>