<div class="row">
    <div class="col m12">
		<mz-card [hoverable]="true">
			<mz-card-title>
				Seleccione los datos para generar el informe
			</mz-card-title>
			<mz-card-content>
				<form 
		        [formGroup]="generarForm" 
		        (ngSubmit)="onSubmit(generarForm.value)">
		        	<div class="col s12 m6">
						<mz-radio-button-container *ngFor="let item of tipos">
						  <input mz-radio-button
						    [label]="item.texto"
						    [withGap]="true"
						    [value]="item.id"
						    [(ngModel)]="tipoInforme"
						    formControlName="tipo"
						    id="{{item.texto}}"
						    name="tipo"
						    type="radio">
						</mz-radio-button-container>
					</div>
		        	<div class="col s12 m6">
						<mz-datepicker-container>
							<i mz-icon-mdi mz-input-prefix [icon]="'calendar'"></i>
					        <input mz-datepicker mz-validation required 
							id="inicio"
							type="text"
			                [formControl]="inicio" 
							[(ngModel)]="informeModel.fechaInicio"
							[errorMessageResource]="formErrors.inicio"
							[options]="opcionesCalendario"
							[label]="'Fecha Inicio'" />
						</mz-datepicker-container>
						<mz-datepicker-container>
							<i mz-icon-mdi mz-input-prefix [icon]="'calendar'"></i>
					        <input mz-datepicker mz-validation required 
							id="termino"
							type="text"
			                [formControl]="termino" 
							[(ngModel)]="informeModel.fechaTermino"
							[errorMessageResource]="formErrors.termino"
							[options]="opcionesCalendario"
							[label]="'Fecha Término'" />
						</mz-datepicker-container>
					</div>
					<button class="btn" type="submit" name="action"
		            [disabled]="!generarForm.valid || enviandoFlag"
					>Generar Informe
					<i class="material-icons right">show_chart</i>
					<!--
					<mz-spinner
						*ngIf="enviandoFlag"
						[color]="'blue'"
						[size]="'small'">
					</mz-spinner>
					-->
					</button>
				</form>
			</mz-card-content>
			<!--
			<mz-card-action>        
			<a  class="btn-flat" (click)="generarInforme();">Generar Informe</a>
			</mz-card-action>
			-->
		</mz-card>
	</div>
</div>

<div class="row" *ngIf="mostrar">
    <div class="col m12">
		<mz-card
		[hoverable]="true">
			<mz-card-title>
			Informe Generado
			</mz-card-title>
			<mz-card-content>

				<div style="display: block">
				    <canvas baseChart
				            [datasets]="barChartData"
				            [labels]="barChartLabels"
				            [options]="barChartOptions"
				            [legend]="barChartLegend"
				            [chartType]="barChartType"
				            (chartHover)="chartHovered($event)"
				            (chartClick)="chartClicked($event)"></canvas>
				  </div>

  			</mz-card-content>

		</mz-card>
	</div>
    <div class="col m12">
		<mz-card
		[hoverable]="true">
			<mz-card-title>
			Informe Generado			
			</mz-card-title>
			<mz-card-content>
				<div style="display: block" *ngIf="mostrar">
				<canvas baseChart
				      [data]="pieChartData"
				      [labels]="pieChartLabels"
				      [chartType]="pieChartType"
				      (chartHover)="chartHovered($event)"
				      (chartClick)="chartClicked($event)"></canvas>
				</div>
			</mz-card-content>
		</mz-card>
	</div>
</div>
	<div class="row">
	    <div class="col s12 m12">
			<mz-card [hoverable]="true">
				<mz-card-title>
					Estadísticas tabuladas
				</mz-card-title>
				<mz-card-content>
					<table class="striped">
				        <thead>
				          <tr>
				              <th>Concepto</th>
				              <th>Total</th>
				          </tr>
				        </thead>
				        <tbody>
				    	    <tr *ngFor="let item of barChartData">
						        <td>{{item.label }}</td>
						        <td>{{item.data}}</td>
						      </tr>
				        </tbody>
					</table>
				</mz-card-content>
			</mz-card>
		</div>
	</div>