	<div class="row">
	    <div class="col s12 m12">
			<mz-card [hoverable]="true">
				<mz-card-title>
					1. Consultar horas
				</mz-card-title>
				<mz-card-content>
					Buscar hora por: 
					<mz-radio-button-container>
					  <input mz-radio-button
						[(ngModel)]="filtroField"
					    [label]="'Rut del dueño'"
						value="rut"
					    id="rut"
					    name="radio-group"
					    type="radio">
					  <input mz-radio-button
						[(ngModel)]="filtroField"
					    [label]="'Nombre del dueño'"
						value="nombre" 
					    id="nombre"
					    name="radio-group"
					    type="radio">
					</mz-radio-button-container>

					<mz-input-container>
						<i mz-icon-mdi mz-input-prefix
					    	[icon]="'magnify'">
						</i>
						<input mz-input
						[(ngModel)]="filtroString"
						id="buscar-input"
						placeholder="Ingrese {{filtroField}}"
						length="20"
						type="text">
					</mz-input-container>

				</mz-card-content>
			</mz-card>
		</div>
	</div>
	<div class="row">
	    <div class="col s12 m12">
			<mz-card [hoverable]="true">
				<mz-card-title>
					2. Horas encontradas
				</mz-card-title>				
				<mz-card-content>
					<table class="striped">
					    <thead>
					      <tr>
					          <th>Rut</th>
					          <th>Nombre Dueño</th>
					          <th>Nombre Mascota</th>
					          <th>Fecha Atención</th>
					          <th>Acciones</th>
					      </tr>
					    </thead>
					    <tbody>
				    	    <tr *ngFor="let item of citas | filtroCitas : filtroField : filtroString">
					        <td>{{item.dueno.rut | rut}}</td>
					        <td>{{item.dueno.nombre}}</td>
					        <td>{{item.mascota.nombre}}</td>
					        <td>{{item.fecha}}</td>
						    <td>
								<a class="btn-floating waves-effect waves-light green" 
								(click)="irModificar(item);">
									<i mz-icon-mdi mz-input-prefix [icon]="'calendar-edit'"></i>
								</a>			
								<a class="btn-floating waves-effect waves-light red" 
								(click)="anular(item);">
									<i mz-icon-mdi mz-input-prefix [icon]="'delete'"></i>
								</a>
						    </td>					      
							</tr>
					    </tbody>
					</table>

				</mz-card-content>
			</mz-card>
		</div>
	</div>