<table class="striped">
    <thead>
      <tr>
          <th>Rut</th>
          <th>Nombre</th>
          <th>Nombre Mascota</th>
          <th>Dirección</th>
          <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
	    <tr *ngFor="let item of duenos">
        <td>{{item.rut | rut }}</td>
        <td>{{item.nombre}}</td>
        <td>{{item.mascota?.nombre}}</td>
        <td>{{item.direccion}}</td>
        <td><button mz-button (click)="irAgendar(item);">Agendar</button></td>
      </tr>
    </tbody>
</table>