<div class="row">
    <div class="col s12 m12">
		<mz-card [hoverable]="true">
			<mz-card-title>
				Registrar un dueño
			</mz-card-title>
			<mz-card-content>
                <form
                [formGroup]="registrarForm" 
                (ngSubmit)="onSubmit(registrarForm.value)">				
					<mz-input-container class="input-field col s12">
						<i mz-icon-mdi mz-input-prefix [icon]="'account-box'"></i>
                        <input mz-input id="rut" type="text"
                        placeholder="Rut" 
						[formControl]="rutControl" 
						[(ngModel)]="duenoModel.rut"
						mz-validation
				        [errorMessageResource]="formErrors.rut"
						validateRut
						formatRut
						required>
					</mz-input-container>	
					<mz-input-container class="input-field col s12">
						<i mz-icon-mdi mz-input-prefix [icon]="'account-box'"></i>
                        <input mz-input id="nombre" type="text"
                        placeholder="Nombre"
						[formControl]="nombreControl" 
						[(ngModel)]="duenoModel.nombre"
						mz-validation
				        [errorMessageResource]="formErrors.nombre"
						required>
					</mz-input-container>						
					<mz-input-container class="input-field col s12">
						<i mz-icon-mdi mz-input-prefix [icon]="'account-box'"></i>
                        <input mz-input id="direccion" type="text"
                        placeholder="Dirección" 
						[formControl]="direccionControl" 
						[(ngModel)]="duenoModel.direccion"
						mz-validation
				        [errorMessageResource]="formErrors.direccion"
						required>
					</mz-input-container>
                    <button mz-button type="submit" 
                    [disabled]="!registrarForm.valid || enviandoFlag"
                    name="action">Modificar Dueño</button>
				</form>
			</mz-card-content>
		</mz-card>
	</div>
</div>

	<!-- Ventana modal -->
<mz-modal #modificarSheetModal [options]="modalOptions">
	<mz-modal-header>
		<h4>¿Desea modificar este dueño?</h4>
	</mz-modal-header>
	<mz-modal-content>

	</mz-modal-content>
	<mz-modal-footer>
		<button mz-button [flat]="true" class="red" mz-modal-close>Cancelar</button>
		<button mz-button [flat]="true" class="green" (click)="modificar();">Modificar Dueño</button>
	</mz-modal-footer>
</mz-modal>
<!-- Ventana modal error -->
<mz-modal #errorSheetModal [options]="modalOptions">
	<mz-modal-header>
		<h4>Atención</h4>
	</mz-modal-header>
	<mz-modal-content>
		<div [innerHTML]="errores"></div>
	</mz-modal-content>
	<mz-modal-footer>
		<button mz-button [flat]="true" mz-modal-close>Ok</button>
	</mz-modal-footer>
</mz-modal>