	<div class="row">
	    <div class="col s12 m12">
			<mz-card [hoverable]="true">
				<mz-card-title>
					1. Buscar Hora: 
				</mz-card-title>
				<mz-card-content>
					Poner buscador acá
				</mz-card-content>
			</mz-card>
		</div>
	</div>
	<div class="row">
	    <div class="col s12 m12">
			<mz-card [hoverable]="true">
				<mz-card-title>
					2. Dueños Encontrados:
				</mz-card-title>				
				<mz-card-content>
					poner lista de encontrados acá
				</mz-card-content>
			</mz-card>
		</div>
	</div>
