	<div class="row">
	    <div class="col s12 m12">
			<mz-card [hoverable]="true">
				<mz-card-title>
					1. Buscar Hora: 
				</mz-card-title>
				<mz-card-content>
					<app-buscador></app-buscador>
				</mz-card-content>
			</mz-card>
		</div>
	</div>
	<div class="row">
	    <div class="col s12 m12">
			<mz-card [hoverable]="true">
				<mz-card-title>
					2. Dueños Encontrados:
				</mz-card-title>				
				<mz-card-content>
					<!--
					<app-lista-encontrados></app-lista-encontrados>
					-->
				</mz-card-content>
			</mz-card>
		</div>
	</div>
