
	<div class="row">
	    <div class="col s12 m12">
			<mz-card [hoverable]="true">
				<mz-card-title>
					Datos Dueño Mascota
				</mz-card-title>
				<mz-card-content>
					<div class="row">
					    <div class="col s4 m4">
							Rut: {{duenoEncontrado?.rutdueno | rut}} 
						</div>
					    <div class="col s8 m8">
							Nombre: {{duenoEncontrado?.nombres}} {{duenoEncontrado?.apellidopaterno}} {{duenoEncontrado?.apellidomaterno}}			
						</div>
					</div>
				</mz-card-content>
			</mz-card>
		</div>
	</div>
	<app-mascotas-listar
	#mascotasListarComponent
	(mascotaSeleccionadaEmitter)="onMascotaSeleccionada($event)"
	(mascotaEditarEmitter)="onMascotaEditarHoras($event)"
	></app-mascotas-listar>
	
	<div class="row">
	    <div class="col s4 offset-s8">
			<button mz-button (click)="irAgendar();">Agendar hora</button>
	    </div>
    </div>