	<div class="row">
	    <div class="col s12 m12">
			<mz-card [hoverable]="true">
				<mz-card-title>
					Buscar dueño por:
				</mz-card-title>
				<mz-card-content>
	                <form
	                [formGroup]="buscarForm" 
	                (ngSubmit)="onSubmit(buscarForm.value)">
						<mz-radio-button-container>
							<input mz-radio-button
							(change)="onCambiarCriterio(filtroField)"
  							[formControl]="fieldControl" 
							[(ngModel)]="filtroField"
						    [label]="'Rut'"
							value="rut"
						    id="rut"
						    name="radio-group"
						    type="radio">
							<input mz-radio-button
							(change)="onCambiarCriterio(filtroField)"
							[formControl]="fieldControl" 
							[(ngModel)]="filtroField"
						    [label]="'Nombre'"
							value="nombre" 
						    id="nombre"
						    name="radio-group"
						    type="radio">
						</mz-radio-button-container>
						<mz-input-container>
							<i mz-icon-mdi mz-input-prefix
						    	[icon]="'magnify'">
							</i>
							<input mz-input
  							[formControl]="stringControl" 
							[(ngModel)]="filtroString"
							placeholder="Ingrese {{filtroField}}"
							type="text"
							mz-validation
					        [errorMessageResource]="formErrors.filtro"
							required>
		                    <button mz-button type="submit" 
		                    [disabled]="!buscarForm.valid || enviandoFlag"
		                    name="action">Buscar dueño</button>
						</mz-input-container>
					</form>
				</mz-card-content>
			</mz-card>
		</div>
	</div>
	<div class="row">
	    <div class="col s12 m12">
			<mz-card [hoverable]="true">
				<mz-card-title>
					Dueños Encontrados
				</mz-card-title>
				<mz-card-content>
					<table class="striped">
					    <thead>
					      <tr>
					          <th>Rut</th>
					          <th>Nombre</th>
					          <th>Dirección</th>
					          <th>Acciones</th>
					      </tr>
					    </thead>
					    <tbody>
				    	    <tr *ngFor="let item of duenos">
					        <td>{{item.rutdueno | rut }}</td>
					        <td>{{item.nombres}} {{item.apellidopaterno}} {{item.apellidomaterno}}</td>
					        <td>{{item.direccion}}</td>
					        <td>
								<a (click)="verDetalle(item);" style="cursor: pointer;" mz-tooltip [tooltip]="'Ver información en detalle'" [position]="'top'">
									<i mz-icon-mdi mz-input-prefix [icon]="'magnify'"></i>
								</a>
								<a (click)="irRegistrarMascota(item);" style="cursor: pointer;" mz-tooltip [tooltip]="'Asignar una mascota a este dueño'" [position]="'top'">
									<i mz-icon-mdi mz-input-prefix [icon]="'paw'"></i>
								</a>
								<a (click)="irModificar(item);" style="cursor: pointer;" mz-tooltip [tooltip]="'Modificar datos'" [position]="'top'">
									<i mz-icon-mdi mz-input-prefix [icon]="'pen'"></i>
								</a>
								<a (click)="eliminar(item);" style="cursor: pointer;" mz-tooltip [tooltip]="'Eliminar datos'" [position]="'top'">
									<i mz-icon-mdi mz-input-prefix [icon]="'delete'"></i>
								</a>
						    </td>
					      </tr>
					    </tbody>
					</table>
				</mz-card-content>
			</mz-card>
		</div>
	</div>
    <a [routerLink]="['/recepcionista/duenos/agregar']">Agregar Dueño de Mascota</a>

	<div class="row">
	    <div class="col s7 m7"></div>
	    <div class="col s5 m5">
		</div>
	</div>	


	<!-- Ventana modal detalle Dueño Mascota-->
	<mz-modal #detalleSheetModal [options]="modalOptions">
		<mz-modal-header>
			<h5>Datos dueño mascota</h5>
		</mz-modal-header>
		<mz-modal-content>
		    <div class="col s6 m6">
				<p>Rut: {{duenoSeleccionado?.rutdueno}}</p>
				<p>Nombres: {{duenoSeleccionado?.nombres}}</p>
				<p>Apellidos: {{duenoSeleccionado?.apellidopaterno}} {{duenoSeleccionado?.apellidomaterno}}</p>		    	
				<p>Dirección: {{duenoSeleccionado?.direccion}}</p>
		    </div>
		    <div class="col s6 m6">
				<p>Comuna: {{duenoSeleccionado?.comuna}}</p>
				<p>Teléfono: {{duenoSeleccionado?.telefono}}</p>
				<p>Correo: {{duenoSeleccionado?.correo}}</p>
			</div>
		</mz-modal-content>
		<mz-modal-footer>
			<button mz-button [flat]="true" class="green" mz-modal-close>Cerrar</button>
		</mz-modal-footer>
	</mz-modal>
	<!-- Ventana modal eliminar Dueño Mascota-->
	<mz-modal #eliminarSheetModal [options]="modalOptions">
		<mz-modal-header>
			<h6>Eliminar dueño mascota</h6>
		</mz-modal-header>
		<mz-modal-content>
			¿Desea eliminar este dueño?
		</mz-modal-content>
		<mz-modal-footer>
			<button mz-button [flat]="true" class="green" mz-modal-close>Eliminar</button>
			<button mz-button [flat]="true" class="red" mz-modal-close>Cancelar</button>
		</mz-modal-footer>
	</mz-modal>