Buscar dueño por: 
<mz-radio-button-container>
  <input mz-radio-button
	[(ngModel)]="filtroField"
    [label]="'Rut'"
	value="rut"
    id="rut"
    name="radio-group"
    type="radio">
  <input mz-radio-button
	[(ngModel)]="filtroField"
    [label]="'Nombre'"
	value="nombre" 
    id="nombre"
    name="radio-group"
    type="radio">
</mz-radio-button-container>

<mz-input-container>
	<i mz-icon-mdi mz-input-prefix
    	[icon]="'magnify'">
	</i>
	<input mz-input
	[(ngModel)]="filtroString"
	(input)="onSearchChange($event.target.value);"
	id="buscar-input"
	placeholder="Ingrese {{filtroField}}"
	length="20"
	type="text">
</mz-input-container>
