<div class="row">
    <div class="col s12 m12">
		<mz-card [hoverable]="true">
			<mz-card-title>
				Gestionar bloques horarios
			</mz-card-title>
			<mz-card-content>
				<mz-card-content>
	                <form [formGroup]="asignarForm">
						<mz-select-container class="col s12 m12">
							<i mz-icon-mdi mz-input-prefix [icon]="'medical-bag'"></i>
							<select mz-select
							(change)="seleccionarEspecialista($event);"
							id="especialista"
							formControlName="especialista"
							[label]="'Especialista'"
							[placeholder]="'1. Seleccionar Especialista'"
	    					[(ngModel)]="especialistaModel"
							mz-validation required
					        [errorMessageResource]="formErrors.idespecialista">
							<option class="left circle"	*ngFor="let item of especialistas"
							[ngValue]="item">
								{{item?.nombres}} {{item?.apellidopaterno}}
							</option>
							</select>
						</mz-select-container>
						<mz-datepicker-container class="col s12 m6">
							<i mz-icon-mdi mz-input-prefix [icon]="'calendar'"></i>
					        <input mz-datepicker
							id="fechaDesde"
							formControlName="fechaDesde"
							[label]="'Fecha Desde'"
							[placeholder]="'2. Fecha Desde'"
	    					[(ngModel)]="fechaDesde"
							mz-validation required
							[errorMessageResource]="formErrors.fechaDesde"
							[options]="opcionesCalendarioDesde">
						</mz-datepicker-container>
						<mz-datepicker-container class="col s12 m6">
							<i mz-icon-mdi mz-input-prefix [icon]="'calendar'"></i>
					        <input mz-datepicker
							id="fechaHasta"
							formControlName="fechaHasta"
							[label]="'Fecha Hasta'"
							[placeholder]="'3. Fecha Hasta'"
	    					[(ngModel)]="fechaHasta"
							mz-validation required
							[errorMessageResource]="formErrors.fechaHasta"
							[options]="opcionesCalendarioHasta">
						</mz-datepicker-container>
						<table class="striped">
						    <thead>
						      <tr>
						          <th>Fecha</th>
						          <th>Hora</th>
						          <th>Anular</th>
						      </tr>
						    </thead>
						    <tbody>
					    	    <tr *ngFor="let item of disponibilidades">
						        <td>{{item.obtenerFechaEnHumano()}}</td>
						        <td>De {{item.bloqueHorarioModel.horainicio}} a {{item.bloqueHorarioModel.horatermino}}</td>
							    <td>
									<a (click)="anular(item);" style="cursor: pointer;" mz-tooltip [tooltip]="'Anular este bloque horario'" [position]="'top'">
										<i mz-icon-mdi mz-input-prefix [icon]="'delete'"></i>
									</a>
							    </td>					      
								</tr>
						    </tbody>
						</table>
					</form>
						<br/>
						<boton-volver></boton-volver>
		                <button mz-button (click)="irAgregar();">Agregar horario</button>		               
				</mz-card-content>
			</mz-card-content>
		</mz-card>
	</div>
</div>

<!-- Ventana modal -->
<mz-modal #anularSheetModal [fixedFooter]="true" [options]="modalOptions">
	<mz-modal-header>
		<h4>¿Desea anular este bloque horario?</h4>
		<p>Nombre Especialista: {{especialistaModel?.nombres}} {{especialistaModel?.apellidopaterno}} {{especialistaModel?.apellidomaterno}}</p>
		<p>Fecha: {{especialistaDisponibilidadModel?.obtenerFechaEnHumano()}} a las {{especialistaDisponibilidadModel?.bloqueHorarioModel?.horainicio}}</p>
	</mz-modal-header>
	<mz-modal-content>

	</mz-modal-content>
	<mz-modal-footer>
		<button mz-button [flat]="true" class="red" (click)="confirmarAnulacion();">Anular</button>
		<button mz-button [flat]="true" mz-modal-close>Cancelar</button>
	</mz-modal-footer>
</mz-modal>
<!-- Ventana modal error -->
<mz-modal #errorSheetModal [fixedFooter]="true" [options]="modalOptions">
	<mz-modal-header>
		<h4>Atención</h4>
	</mz-modal-header>
	<mz-modal-content>
		<div [innerHTML]="errores"></div>
	</mz-modal-content>
	<mz-modal-footer>
		<button mz-button [flat]="true" mz-modal-close>Ok</button>
	</mz-modal-footer>
</mz-modal>