	<div class="row">
	    <div class="col s12 m12">
			<mz-card [hoverable]="true">
				<mz-card-title>

				</mz-card-title>

				<mz-card-content>
					<mz-select-container>
						<select mz-select
						id="options-select"
						[label]="'Especialidad'"
						[placeholder]="'2. Seleccionar especialidad'"
    					[(ngModel)]="especialidadModel"
						>
						<option class="left circle"	*ngFor="let item of especialidades"
						[ngValue]="item">
							{{item.nombre}}
						</option>
						</select>
					</mz-select-container>

					<mz-select-container>
						<select mz-select
						id="options-select"
						[label]="'Especialista'"
						[placeholder]="'3. Seleccionar Especialista'"
    					[(ngModel)]="especialistaModel"
						>
						<option class="left circle"	*ngFor="let item of especialidadModel.especialistas"
						[ngValue]="item">
							{{item.nombre}}
						</option>
						</select>
					</mz-select-container>

					<mz-select-container>
						<select mz-select
						id="options-select"
						[label]="'Fecha'"
						[placeholder]="'4. Fecha Preferencia'"
    					[(ngModel)]="fechaModel"
						>
						<option class="left circle"	*ngFor="let item of especialistaModel.fechas"
						[ngValue]="item">
							{{item.fecha}}
						</option>
						</select>
					</mz-select-container>

					<mz-select-container>
						<select mz-select
						id="options-select"
						[label]="'Hora'"
						[placeholder]="'5. Horas Disponibles'"
    					[(ngModel)]="horaModel"
						>
						<option class="left circle"	*ngFor="let item of fechaModel.horas"
						[ngValue]="item">
							{{item.hora}}
						</option>
						</select>
					</mz-select-container>

					<button mz-button (click)="volver();">Volver</button>
					<button mz-button (click)="reservar();">Reservar</button>

				</mz-card-content>
			</mz-card>
		</div>
	</div>

	<!-- Ventana modal -->
<mz-modal #bottomSheetModal [options]="modalOptions">
	<mz-modal-header>
		<h4>¿Desea tomar esta hora?</h4>
	</mz-modal-header>
	<mz-modal-content>
		<p>Nombre Doctor: {{citaModel.especialista?.nombre}}</p>
		<p>Dueño: {{citaModel.dueno?.nombre}}</p>
		<p>Paciente: {{citaModel.mascota?.nombre}}</p>
	</mz-modal-content>
	<mz-modal-footer>
		<button mz-button [flat]="true" class="red" mz-modal-close>Cancelar</button>
		<button mz-button [flat]="true" (click)="agendarHora();">Agendar Hora</button>
	</mz-modal-footer>
</mz-modal>
<!-- Ventana modal error -->
<mz-modal #errorSheetModal [options]="modalOptions">
	<mz-modal-header>
		<h4>Atención</h4>
	</mz-modal-header>
	<mz-modal-content>
		<div [innerHTML]="errores"></div>
	</mz-modal-content>
	<mz-modal-footer>
		<button mz-button [flat]="true" mz-modal-close>Ok</button>
	</mz-modal-footer>
</mz-modal>