	<div class="row">
	    <div class="col s12 m12">
			<mz-card [hoverable]="true">
				<mz-card-title>

				</mz-card-title>

				<mz-card-content>
	                <form
	                [formGroup]="agendarForm" 
	                (ngSubmit)="onSubmit(agendarForm.value)">		
		                <!--
						<mz-select-container>
							<select mz-select
							id="especialidad"
							formControlName="especialidad"
							[label]="'Especialidad'"
							[placeholder]="'2. Seleccionar especialidad'"
	    					[(ngModel)]="especialidadModel"
							mz-validation required
					        [errorMessageResource]="formErrors.especialidad">
							<option class="left circle"	*ngFor="let item of especialidades"
							[ngValue]="item">
								{{item?.nombre}}
							</option>
							</select>
						</mz-select-container>
						<mz-select-container>
							<select mz-select
							id="especialista"
							formControlName="especialista"
							[label]="'Especialista'"
							[placeholder]="'3. Seleccionar Especialista'"
	    					[(ngModel)]="especialistaModel"
							mz-validation required
					        [errorMessageResource]="formErrors.especialista">
							<option class="left circle"	*ngFor="let item of especialidadModel?.especialistas"
							[ngValue]="item">
								{{item?.nombre}}
							</option>
							</select>
						</mz-select-container>

						<mz-select-container>
							<select mz-select
							id="fecha"
							formControlName="fecha"
							[label]="'Fecha'"
							[placeholder]="'4. Fecha Preferencia'"
	    					[(ngModel)]="fechaModel"
							mz-validation required
					        [errorMessageResource]="formErrors.fecha">
							<option class="left circle"	*ngFor="let item of especialistaModel?.fechas"
							[ngValue]="item">
								{{item?.fecha}}
							</option>
							</select>
						</mz-select-container>

						<mz-select-container>
							<select mz-select
							id="hora"
							formControlName="hora"
							[label]="'Hora'"
							[placeholder]="'5. Horas Disponibles'"
	    					[(ngModel)]="horaModel"
							mz-validation required
					        [errorMessageResource]="formErrors.hora">
							<option class="left circle"	*ngFor="let item of fechaModel?.horas"
							[ngValue]="item">
								{{item?.hora}}
							</option>
							</select>
						</mz-select-container>
						-->
						<button mz-button (click)="volver();">Volver</button>
						<!--<button mz-button (click)="reservar();">Reservar</button>-->
	                    <button mz-button type="submit" 
	                    [disabled]="!agendarForm.valid || enviandoFlag"
	                    name="action">Reservar</button>
					</form>

				</mz-card-content>
			</mz-card>
		</div>
	</div>

	<!-- Ventana modal -->
<mz-modal #bottomSheetModal [options]="modalOptions">
	<mz-modal-header>
		<h4>¿Desea tomar esta hora?</h4>
	</mz-modal-header>
	<mz-modal-content>
		<p>Nombre Doctor: {{citaModel.especialista?.nombre}}</p>
		<p>Dueño: {{citaModel.dueno?.nombre}}</p>
		<p>Paciente: {{citaModel.mascota?.nombre}}</p>
	</mz-modal-content>
	<mz-modal-footer>
		<button mz-button [flat]="true" class="red" mz-modal-close>Cancelar</button>
		<button mz-button [flat]="true" (click)="agendarHora();">Agendar Hora</button>
	</mz-modal-footer>
</mz-modal>
<!-- Ventana modal error -->
<mz-modal #errorSheetModal [options]="modalOptions">
	<mz-modal-header>
		<h4>Atención</h4>
	</mz-modal-header>
	<mz-modal-content>
		<div [innerHTML]="errores"></div>
	</mz-modal-content>
	<mz-modal-footer>
		<button mz-button [flat]="true" mz-modal-close>Ok</button>
	</mz-modal-footer>
</mz-modal>