<div class="row">
    <div class="col s12 m12">
		<div class="card-panel">
			<h5>Cupos de Atención</h5>
			<p>Gestión de bloques horarios</p>
		</div>
		<!--
		<mz-card [hoverable]="true">
			<mz-card-title>{{titulo}}</mz-card-title>
			<mz-card-content>
				{{bajada}}
			</mz-card-content>
		</mz-card>
		-->
	</div>
</div>
<div class="row">
    <div class="col s12 m12">
		<mz-card [hoverable]="true">
			<mz-card-title>
				Asignar un bloque horario a un especialista
			</mz-card-title>
			<mz-card-content>
				<mz-card-content>
	                <form
	                [formGroup]="buscarForm" 
	                (ngSubmit)="onSubmit(buscarForm.value)">		
						<mz-select-container class="col s12 m12">
							<i mz-icon-mdi mz-input-prefix [icon]="'pill'"></i>
							<select mz-select
							(change)="seleccionarEspecialidad($event);"
							id="especialidad"
							formControlName="especialidad"
							[label]="'Especialidad'"
							[placeholder]="'1. Seleccionar especialidad'"
	    					[(ngModel)]="especialidadModel"
							mz-validation required
					        [errorMessageResource]="formErrors.idespecialidad">
							<option class="left circle"	*ngFor="let item of especialidades"
							[ngValue]="item">
								{{item?.nombre}}
							</option>
							</select>
						</mz-select-container>
						<mz-select-container class="col s12 m12">
							<i mz-icon-mdi mz-input-prefix [icon]="'medical-bag'"></i>
							<select mz-select
							(change)="seleccionarEspecialista($event);"
							id="especialista"
							formControlName="especialista"
							[label]="'Especialista'"
							[placeholder]="'2. Seleccionar Especialista'"
	    					[(ngModel)]="especialistaModel"
							mz-validation required
					        [errorMessageResource]="formErrors.idespecialista">
							<option class="left circle"	*ngFor="let item of especialistas"
							[ngValue]="item">
								{{item?.nombres}} {{item?.apellidopaterno}}
							</option>
							</select>
						</mz-select-container>
						<mz-datepicker-container class="col s12 m6">
							<i mz-icon-mdi mz-input-prefix [icon]="'calendar'"></i>
					        <input mz-datepicker
							id="fechaDesde"
							formControlName="fechaDesde"
							[label]="'Fecha Desde'"
							[placeholder]="'3. Fecha Desde'"
	    					[(ngModel)]="fechaDesde"
							mz-validation required
							[errorMessageResource]="formErrors.fechaDesde"
							[options]="opcionesCalendarioDesde">
						</mz-datepicker-container>
						<mz-datepicker-container class="col s12 m6">
							<i mz-icon-mdi mz-input-prefix [icon]="'calendar'"></i>
					        <input mz-datepicker
							id="fechaHasta"
							formControlName="fechaHasta"
							[label]="'Fecha Hasta'"
							[placeholder]="'4. Fecha Hasta'"
	    					[(ngModel)]="fechaHasta"
							mz-validation required
							[errorMessageResource]="formErrors.fechaHasta"
							[options]="opcionesCalendarioHasta">
						</mz-datepicker-container>
						<table class="striped">
						    <thead>
						      <tr>
						          <th>Desde</th>
						          <th>Hasta</th>
						          <th>Acciones</th>
						      </tr>
						    </thead>
						    <tbody>
					    	    <tr *ngFor="let item of horas">
						        <td>{{item.especialistaModel.nombres}} {{item.especialistaModel.apellidopaterno}}</td>
						        <td>{{item.fecha}}</td>
						        <td>{{item.hora}}</td>
							    <td>
							    	<button mz-button type="button" (click)="asignar(item)">Asignar</button>
							    </td>					      
								</tr>
						    </tbody>
						</table>						
						<button mz-button>Volver</button>
						<!--
	                    <button mz-button type="submit" 
	                    [disabled]="!agendarForm.valid || enviandoFlag"
	                    name="action">Reservar</button>
		                -->
					</form>

				</mz-card-content>
			</mz-card-content>
		</mz-card>
	</div>
</div>

<!-- Ventana modal -->
<mz-modal #registrarSheetModal [options]="modalOptions">
	<mz-modal-header>
		<h4>¿Desea registrar este bloque horario?</h4>
	</mz-modal-header>
	<mz-modal-content>

	</mz-modal-content>
	<mz-modal-footer>
		<button mz-button [flat]="true" class="green" (click)="registrar();">Registrar</button>
		<button mz-button [flat]="true" class="red" mz-modal-close>Cancelar</button>
	</mz-modal-footer>
</mz-modal>
<!-- Ventana modal error -->
<mz-modal #errorSheetModal [options]="modalOptions">
	<mz-modal-header>
		<h4>Atención</h4>
	</mz-modal-header>
	<mz-modal-content>
		<div [innerHTML]="errores"></div>
	</mz-modal-content>
	<mz-modal-footer>
		<button mz-button [flat]="true" mz-modal-close>Ok</button>
	</mz-modal-footer>
</mz-modal>