<mz-navbar [navbarClass]="'pet-it-menu'">
  
  <a class="brand-logo center">
  	<!--
    <img src="assets/img/petitlogo.png" width="50px" height="auto">
	-->
    <span>PetIT</span>
  </a>
  
  <mz-navbar-item-container [align]="'right'">
    <mz-navbar-item>
      <a (click)="sidenav.opened = !sidenav.opened" class="hide-on-large-only">
        <i mz-icon-mdi [icon]="'menu'"></i>
      </a>
    </mz-navbar-item>

  </mz-navbar-item-container>

</mz-navbar>

<mz-sidenav
	#sidenav
	[id]="'sidenav-demo'"
	[fixed]="true">
	<mz-sidenav-header>
		<img id="logo" src="assets/img/petitlogo.png">
	</mz-sidenav-header>
	<mz-sidenav-subheader>
		Bienvenido {{rol}}
	</mz-sidenav-subheader>
  	<span *ngFor="let seccion of secciones">
 		<mz-sidenav-link [active]="seccion.seleccionada" *ngIf="seccion.menu">
		    <a title="{{seccion.titulo}}" class="enlace" (click)="irSeccion(seccion)">
		      <i mz-icon-mdi mz-input-prefix [icon]="seccion.icono"></i>
		      {{seccion.nombre}}
		    </a>
			<mz-sidenav-divider></mz-sidenav-divider>
		</mz-sidenav-link>
	</span>
</mz-sidenav>

<!-- Botón para abrir menú en móvil -->
<!--
<button class="sidenav-button hide-on-large-only btn btn-floating btn-large waves-effect waves-light" 
id="btn-sidenav" mz-button id="btn-sidenav-demo">
	<i class="mdi mdi-menu mdi-24px"></i>
</button>
-->
