	<div class="row">
	    <div class="col s12 m12">
			<mz-card [hoverable]="true">
				<mz-card-title>
					Datos de la Reserva 
				</mz-card-title>
				<mz-card-content>
				    <div class="col m4">
						<i mz-icon-mdi mz-input-prefix
					    	[icon]="'calendar'">
					    	Día: Hora:
						</i>
				    </div>
				    <div class="col m4">
						<i mz-icon-mdi mz-input-prefix
					    	[icon]="'medical-bag'">
					    	Especialista:
						</i>
				    </div>
				    <div class="col m4">
						<i mz-icon-mdi mz-input-prefix
					    	[icon]="'account'">
					    	Dueño:
						</i>
				    </div>

					<h2>Indicaciones</h2>
					<p>Recuerde llegar 15 minutos antes de la consulta
				</mz-card-content>
			</mz-card>
		</div>
	</div>