<mz-sidenav
  [id]="'sidenav-demo'"
  [collapseButtonId]="'btn-sidenav-demo'"
  [fixed]="true"
  >
  <mz-sidenav-header>
    <img id="logo" src="assets/img/petitlogo.png">
  </mz-sidenav-header>
  <mz-sidenav-subheader>
    Pet-IT
  </mz-sidenav-subheader>
  <mz-sidenav-link>
    <a [routerLink]="['/dueno/inicio']">
      <i mz-icon-mdi mz-input-prefix [icon]="'home'"></i>
      Inicio
    </a>
  </mz-sidenav-link>
  <mz-sidenav-divider></mz-sidenav-divider>
  <mz-sidenav-link>
    <a [routerLink]="['/dueno/horas/consultar']">
      <i mz-icon-mdi mz-input-prefix [icon]="'calendar-range'"></i>
      Consultar horas
    </a>
  </mz-sidenav-link>
  <mz-sidenav-divider></mz-sidenav-divider>
  <mz-sidenav-link>
    <a [routerLink]="['/dueno/notificaciones/leer']">
      <i mz-icon-mdi mz-input-prefix [icon]="'send'"></i>
      Notificaciones
    </a>
  </mz-sidenav-link>
  <mz-sidenav-divider></mz-sidenav-divider>
  <mz-sidenav-link>
    <a href="#" (click)="cerrarSesion();">
      <i mz-icon-mdi mz-input-prefix [icon]="'logout'"></i>
      Cerrar Sesión
    </a>
  </mz-sidenav-link>
</mz-sidenav>

<!-- Botón para abrir menú en móvil -->
<button class="sidenav-button hide-on-large-only btn btn-floating btn-large waves-effect waves-light" 
id="btn-sidenav" mz-button id="btn-sidenav-demo">
  <i class="mdi mdi-menu mdi-24px"></i>
</button>